html
	head
		header
				nav
					div
						a(href= "/") Home
					div
						a(href='/register') Register
					div
						a(href='/event') Event Calender
					div
						a(href='/about') About
					div
						a(href='/contact') Contact Us
	body
		form
			input(id="comment" type="text" name="comments") create your comment