html
	head
		style
			include index.css
		title Blog Application
	body
		div(class="container")
			form(action="/", id="login", method="POST")
				div(class="header")
					h3 Welcome Back!
				div(class="sep")
				div(class="inputs")
					input(class='username', type="text", placeholder="Your email or username", autofocus required)
					input(class="password", name="password",type="password", placeholder="Your password", required)
					div(class="checkboxy")
						input(name="checky", class="checky", value="1", type="checkbox")
						label(class="terms") Keep me logged in
					a(id="submit", href='/profile') LOG IN!
					a(id="submit", href="/signup") SIGN UP!