html
	head
		style
			include profile.css
	body
		h2= user.name
		h3= user.email
		a(href='/') home
		br
		a(href='/logout') log out
		br
		a(href='/profile') view profile
		br
		a(href='/signup') sign up!
		br
		a(href="/myposts") go to myposts
		br
		a(href="/allposts") see all posts 
		br
		a(href="/messages") create a post