html
	head
	body
		h1 Sign Up!
		p Please sign up here! 
		form(method="post" action="/signup")
			label Name
			input(type="text" value="Iuliia" class="form-control" placeholder="Name" name="name")
			label Email
			input(type="email" value="gazgolder@hotmail.com" class="form-control" placeholder="email" name="email")
			label Password
			input(type="password" value="iuliia" class="form-control" placeholder="password" name="password")
			button(type="submit" class="btn-default") Submit
