html
	head
	body
		form(method="post" action="/signup")
			label Name
			input(type="text" class="form-control" placeholder="Name" name="name")
			label Email
			input(type="email" class="form-control" placeholder="email" name="email")
			label Password
			input(type="password" class="form-control" placeholder="password" name="password")
			button(type="submit" class="btn-default") Submit
