html
	head
		style
			include signup.css
		title Blog Application
	body
		div(class="container")
			form(action="/signup", id="signup", method="POST")
				div(class="header")
					h3 Choose Your Credentials
				div(class="sep")
				div(class="inputs")
					input(class='username', type="text", placeholder="Username", autofocus required)
					input(class="email", type="email", placeholder="Email Address", required)
					input(class="password", type="password", placeholder="Desired Password", required)
					div(class="checkboxy")
						input(name="cecky", class="checky", value="1", type="checkbox")
						label(class="terms") I accept the terms of use
					a(id="submit", href='/homepage') SIGN UP FOR INVITE NOW
					