html
	head
		title Blog Application
	body
		form(method="", id="login")
			h1 Welcome Back!
			fieldset(id="inputs")
				input(id='username', type="text", placeholder="Type your name...", autofocus required)
				input(id="password", type="password", placeholder="Type your password...", required)
			fieldset(id="actions") 
				input(type="submit" id="submit" value="LOG IN")
				a(href="", FORGOT YOUR PASSWORD?)
				a(href="", SIGN UP)